.title-wrapper {
  margin: 0;
}
.title {
  font-family: 'Montserrat';
  font-size: 24px;
  letter-spacing: 4px;
}
/* .container {} */
/* .hypercode {} */
.description {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-subsection {
  display: flex;
  flex-wrap: wrap;
}

.content {
  /* background-color: aliceblue; */
}
.content-subsection > div {
  width: 200px;
  margin-right: 10px;
  /* background-color: azure; */
}

.section-title {
  font-weight: bold;
}

ul {
  padding-left: 16px;
}

a {
  text-decoration: none;
}

.changelog {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 700px) {
  /* .title {
    font-size: 8vw;
  } */
}