/* div > h3 {
  font-size: 30px;
  letter-spacing: 1px;
} */

.header {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
}

.title-wrapper {
  margin: 0;
}

.title {
  font-family: 'Montserrat';
  font-size: 18px;
  letter-spacing: 4px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.description {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-subsection {
  display: flex;
  flex-wrap: wrap;
  /* border-bottom: 1px solid #e6e6e6; */
  padding-bottom: 10px;
}

.content-subsection > div {
  width: 240px;
  margin-right: 10px;
}

.section-title {
  font-weight: bold;
}

.ul-list {
  padding-left: 16px;
}

.li-element {
  line-height: 2;
}

.a-link {
  text-decoration: none;
  color: #0066ff;
}
.a-link:hover {
  color: #ff9933;
}

.changelog {
  margin-top: 40px;
  margin-bottom: 40px;
}

.changelog-post {
  margin-bottom: 20px;
}

.footer-section {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 700px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}